body {
	font-family: sans-serif, Helvetica;
	-webkit-font-smoothing: antialiased;
}

.App {
	text-align: center;
	background-color: #f7f7f7;
	min-height: 100vh;
}

header {
	padding: 1rem;
	color: #3eb9cd;
	font-weight: bold;
	background-color: #fff;
}

header div {
	margin: auto;
	max-width: 1024px;
}

@media(min-width: 768px) {
	header {
		text-align: left;
	}
}

main {
	padding: 2rem 1rem;
	margin: auto;
	background-color: #f7f7f7;
	max-width: 1024px;
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem 1rem .75rem 1rem;
	height: 70vmin;
	background-color: #000;
}

@media (min-width: 375px) {
	.graph-container {
		height: 60vmin;
	}
}


@media (orientation: landscape) and (min-width: 600px ) {
	.graph-container {
		height: 80vmin;
	}
}

@media (min-width: 768px) {
	.graph-container {
		height: 50vmin;
	}
}

.btn-container {
	margin: 1rem auto 2rem;
}

@media(min-width: 1024px) {
	.btn-container {
		margin: 1.5rem auto 3rem;
	}
}

.avg-temp-value {
	display: flex;
    align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
}

@media(min-width: 768px) {
	.avg-temp-value {
		font-size: 1.25rem;
	}
}

.avg-temp-text {
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
	color: #fff;
}

.min-max-temp {
	margin-top: 2rem;
	color: #fff;
	font-size: .75rem;
}

.temp-bars {
	display: flex;
	height: 100%;
	overflow-x: auto;
	padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
	margin-bottom: -1.5px;
}

@media(min-width: 1024px) {
	.temp-bars {
		padding-left: .5rem;
		padding-right: .5rem;
		overflow: visible;
	}
}

.temp-bar-container {
	flex: 1 1;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
    margin-right: 9%;
}

@media(min-width: 1024px) {
	.temp-bar-container {
		margin-right: 2%;
	}
}

.team-bar {
	width: .5rem;
	background-color: #fff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	transition: all 0.4s ease 0s;
}

@media(min-width: 1024px) {
	.team-bar {
		width: auto;
	}
} 

.team-bar:hover {
	transition: all 0.4s ease 0s;
	opacity: .8;
}

.temp-bar-container:last-child {
  	margin-right: 0;
}

.temp {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.8), 0px 8px 13px rgba(0,0,0,0.7), 0px 18px 23px rgba(0,0,0,0.7);
}

.temp,
.type, 
.time {
	position: absolute;
}

.temp,
.type, 
.time {
	display: none;
	left: 50%;
	transform: translate(-50%, 0); 
	font-size: 0.6rem;
	color: #fff;
}

.temp {
	top: 0;
}

.type {
	top: 12px;
}

.time {
  	bottom: -1.5rem;
}


.show {
	display: block;
}

.hide {
	display: none;
}

@media (min-width: 1024px) {
	.type {
		top: 16px;
	}
	
	.temp,
	.type, 
	.time {
		font-size: 0.9rem;
	}

	.avg-temp-text,
	.min-max-temp {
		font-size: 1rem;
	}
}

/* display 00:00 and 23:00 hours in the graph */
.temp-bar-container:first-child .time,
.temp-bar-container:last-child .time {
	  display: block;
	  /* bottom: -2.9rem; */

}

/* .temp-bar-container:hover .temp, 
.temp-bar-container:hover .type,
.temp-bar-container:hover .time {
  	display: block;
} */

.page_heading { 
  	font-size: 1.5rem; 
}

@media(min-width: 768px) {
	.page_heading { 
		font-size: 2rem; 
	}  
}

.images-container {
  	display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100vmin;
}

@media(min-width: 768px) {
	.images-container {
		display: flex;
		flex-direction: row;
		margin: auto;
		height: 40vmin;
		width: 95%;
	}
}

.image-container-left {
	flex: 1;
	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.image-container-right {
	display: flex;
	flex: 1;
	margin-top: 1rem;
}

@media(min-width: 768px) {
	.image-container-right {
		margin-left: 1rem;
		margin-top: 0;
	}
}

.img-2 {
	flex: 1;
	display: flex;
	flex-direction: column;  
}

.img-3 {
  	flex: 1;
}

.img {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 45%;
}

.img-2 {
  	background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}

.img-3 {
  	background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.image-with-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	background-color: #fff;
}

.image-container-right .image-with-text:first-child {
  	margin-right: 1rem;
}

.image-with-text p {
	flex: 1;
	margin: 0;
	padding: 5%;
	text-align: left;
	overflow: scroll;
	font-weight: bold;
}

.btn--primary.btn--disabled {
	background: grey;
	color: white;
	opacity: 0.5;
}

.btn {
	border-radius: 24px;
	min-width: 15%;
	max-width: 164px;
	width: 40%;
	padding: 0.3rem .8rem;
	font-size: .5rem;
	font-weight: bold;
	outline: none;
	transition: box-shadow .3s;
}

@media(min-width: 320px) {
	.btn {
		font-size: .6rem;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media(min-width: 375px) {
	.btn {
		font-size: .7rem;
		white-space: nowrap;
		overflow: hidden;
	}
}


.btn:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

@media(min-width: 1024px) {
	.btn {
		padding: 0.4rem 1rem;
		font-size: .8rem;
		width: 164px;
	}
}

.btn-primary {
	background: #3eb9cd;
	color: #fff;
	border: 1px solid #3eb9cd;
	margin-right: 12px;
}

.btn-white {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

.page-text-container {
	margin: 0 auto 2.5rem;
	text-align: left;
}

@media(min-width: 768px) {
	.page-text-container {
		margin: 0 auto 3rem;
		width: 80%;
	}
}

@media(min-width: 1024px) {
	.page-text-container {
		margin: 0 auto 4rem;
		width: 60%;
	}
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.default-theme {
  	background-color: black;
}

.fancy-theme {
  	background-color: green;
}

.error-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.25rem;
}

.error-page img {
	margin-bottom: 2rem;	
	height: 200px;
	width: 200px;
}

.error-page span {
	max-width: 512px;
}

.anim-icon-container {
	color: #000;
}

.icon-inanimated {
	width: 30px;
}

@media(min-width: 768px) {
	.icon-inanimated {
		width: 38px;
	}
}

.fadeOut{
	visibility: hidden;
	opacity: 0;
	transition: all 5s linear;

}

.fadeIn{
	visibility: visible;
	opacity: 1;
	transition: all 5s linear;
}

.bg-white {
	background-color: #fff;
}

.bg-light-blue {
	background-color: #3eb9cd;
}

.weather-type-text {
	font-size: .75rem;
	color: #fff;
}

/* Animations */

.bar-anim {
	height: 0;
	animation-name: bar-anim;
	animation-duration: 3s;
}

@keyframes bar-anim {
	from {
		height: 0;
	}
	to {
		height: 50%;
	}
} 

.temp-anim {
	opacity: 0;
	animation-name: temp-anim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

@keyframes temp-anim {
	0% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
} 

.min-max-temp-anim {
	opacity: 0;
	animation-name: min-max-temp-anim;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}
  
@keyframes min-max-temp-anim {
	0% {
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}

.avg-temp-text-anim {
	opacity: 0;
	animation-name: avg-temp-text-anim;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}
  
@keyframes avg-temp-text-anim {
	from {
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}

.avg-temp-anim {
	opacity: 0;
	animation-name: avg-temp-anim;
	animation-duration: 2s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}
  
@keyframes avg-temp-anim {
	from {
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}

